@{
    ViewData["Title"] = "Home";
}

<div class="hero" style="background-image: url(' /background/hero-background.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-start">
                <h1>ÉTS SCADA Data Portal</h1>
                <p>Access, explore, and share the data from your teams active in the renewable energy sector</p>
                <div class="d-flex flex-column flex-md-row align-items-center mt-3 gap-3 justify-content-center justify-content-md-start">
                    <a href="https://www.powerfactors.com/" target="_blank">
                        <img src="~/logo/pf-footer-logo.png" alt="Power Factors Logo" class="collaboration-logo" />
                    </a>
                    <div class="d-none d-md-block flex-grow-1"></div>
                    <a href="https://www.hydroquebec.com/" target="_blank">
                        <img src="~/logo/hq-footer-logo.png" alt="Hydro Quebec Logo" class="collaboration-logo" />
                    </a>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center mt-3 gap-3 justify-content-center justify-content-md-start">
                    <a href="https://www.mitacs.ca/" target="_blank">
                        <img src="~/logo/Mitacs_logo.png" alt="Mitacs Logo" class="collaboration-logo" />
                    </a>
                    <div class="d-none d-md-block flex-grow-1"></div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="/Compte/SeConnecter" class="btn btn-primary mt-4">Sign in</a>
                    }
                    else
                    {
                        <a href="/AccesDonnees/RechercheDonnees" class="btn btn-primary mt-4">Data</a>
                    }
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center mb-4 mb-md-0">
                <img src="/illustration/hero-animation.svg" alt="Illustration" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
