@model Dataportal.ViewModels.DemanderUnCompteViewModel

@{
    ViewData["Title"] = "Demander un Compte";
    ViewData["HideFooter"] = true;
    ViewData["DisableScroll"] = true;
}

<div class="hero" style="background-image: url(' /background/login-background.png'); background-attachment: fixed; background-size: cover;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 pt-3 pb-5 d-flex align-items-center justify-content-center">
                <div class="p-4 bg-white rounded shadow" style="max-width: 450px; width: 100%;">
                    <h2 class="mb-4 text-center">@ViewData["Title"]</h2>
                    <span class="text-primary">Attention:</span> cela ne vous créera pas automatiquement un compte, c'est plutôt une demande qui doit être approuvée par l'un des gestionnaires de la plateforme.
                    <form asp-action="DemanderUnCompte" method="post" novalidate>
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-danger mb-3"></div>
                        <div class="mb-3">
                            <label asp-for="IdEntreprise"></label>
                            <select asp-for="IdEntreprise" class="form-select" asp-items="Model.Entreprises"></select>
                            <span asp-validation-for="IdEntreprise" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Nom" class="form-control" placeholder=" " />
                            <label asp-for="Nom" class="floatingInput"></label>
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Prenom" class="form-control" placeholder=" " />
                            <label asp-for="Prenom" class="floatingInput"></label>
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder=" " />
                            <label asp-for="Email" class="floatingInput"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3" style="position:relative;">
                            <input asp-for="MotDePasse" class="form-control" type="password" placeholder=" " id="MotDePasse" />
                            <label asp-for="MotDePasse" class="floatingInput"></label>
                            <button type="button" class="bg-white border-0 position-absolute"
                                    style="top: 50%; right: 10px; transform: translateY(-50%);"
                                    onclick="togglePasswordVisibility('MotDePasse','toggleIcon1')">
                                <i class="bi bi-eye" id="toggleIcon1"></i>
                            </button>
                        </div>
                        <div class="form-floating mb-3" style="position:relative;">
                            <input asp-for="ConfirmMotDePasse" class="form-control" type="password" placeholder=" " id="ConfirmMotDePasse" />
                            <label asp-for="ConfirmMotDePasse" class="floatingInput"></label>
                            <button type="button" class="bg-white border-0 position-absolute"
                                    style="top: 50%; right: 10px; transform: translateY(-50%);"
                                    onclick="togglePasswordVisibility('ConfirmMotDePasse','toggleIcon2')">
                                <i class="bi bi-eye" id="toggleIcon2"></i>
                            </button>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Commentaire" class="form-control" placeholder=" " style="height: 100px;"></textarea>
                            <label asp-for="Commentaire" class="floatingInput"></label>
                            <span asp-validation-for="Commentaire" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">
                            Demander un Compte
                        </button>
                    </form>
                    <a href="/Compte/SeConnecter" class="btn btn-outline-primary mt-2 w-100">Se connecter</a>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-4 logo-fade">
                <div class="mb-3">
                    <a href="https://www.etsmtl.ca/" target="_blank">
                            <img src="~/logo/ets-logo.png" alt="ETS Logo" class="img-fluid footer-logo ">
                    </a>
                </div>
                <div class="mb-3">
                    <a href="https://www.mitacs.ca/" target="_blank">
                        <img src="~/logo/Mitacs_logo.png" alt="Mitacs Logo" class="img-fluid footer-logo ms-1">
                    </a>
                </div>
                <div class="mb-3">
                    <a href="https://www.hydroquebec.com/" target="_blank">
                            <img src="~/logo/hq-footer-logo.png" alt="HQ Logo" class="img-fluid footer-logo ms-1">
                    </a>
                </div>
                <div class="mb-3">
                    <a href="https://www.powerfactors.com/" target="_blank">
                            <img src="~/logo/pf-footer-logo.png" alt="PF Logo" class="img-fluid footer-logo ms-1">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function togglePasswordVisibility(inputId, iconId) {
            var passwordInput = document.getElementById(inputId);
            var toggleIcon = document.getElementById(iconId);
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("bi-eye");
                toggleIcon.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("bi-eye-slash");
                toggleIcon.classList.add("bi-eye");
            }
        }
    </script>
}


