@model Dataportal.ViewModels.SeConnecterViewModel

@{
    ViewData["Title"] = "Se connecter";
    ViewData["HideFooter"] = true;
    ViewData["DisableScroll"] = true;
}

<div class="hero" style="background-image: url(' /background/login-background.png'); height: 100.6vh; background-attachment: fixed; background-size: cover;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="p-4 bg-white rounded shadow" style="max-width: 450px; width: 100%;">
                    <h2 class="mb-4 text-center">@ViewData["Title"]</h2>
                    <form asp-action="SeConnecter" method="post" novalidate>
                        <div asp-validation-summary="All" class="text-danger mb-3"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder=" " />
                            <label asp-for="Email" class="floatingInput"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="MotDePasse" class="form-control" type="password" placeholder=" " />
                            <label asp-for="MotDePasse" class="floatingInput"></label>
                            <button type="button" class="bg-white border-0 position-absolute"
                                    style="top: 50%; right: 10px; transform: translateY(-50%);"
                                    onclick="togglePasswordVisibility()">
                                <i class="bi bi-eye" id="toggleIcon"></i>
                            </button>
                            <span asp-validation-for="MotDePasse" class="text-danger"></span>
                        </div>
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div class="form-check mb-0">
                                <input asp-for="SeSouvenirDeMoi" class="form-check-input"/>
                                <label asp-for="SeSouvenirDeMoi" class="form-check-label"></label>
                            </div>
                            <a asp-area="" asp-controller="Compte" asp-action="MotDePasseOublie" class="text-decoration-none">Mot de passe oublié?</a>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">
                            Se connecter
                        </button>
                    </form>
                    <a href="/Compte/DemanderUnCompte" class="btn btn-outline-primary mt-2 w-100">Demander un compte</a>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-4 logo-fade">
                <div class="mb-3">
                    <a href="https://www.etsmtl.ca/" target="_blank">
                        <img src="~/logo/ets-logo.png" alt="ETS Logo" class="img-fluid footer-logo">
                    </a>
                </div>
                <div class="mb-3">
                    <a href="https://www.hydroquebec.com/" target="_blank">
                        <img src="~/logo/hq-footer-logo.png" alt="HQ Footer Logo" class="img-fluid footer-logo ms-1">
                    </a>
                </div>
                <div class="mb-3">
                    <a href="https://www.powerfactors.com/" target="_blank">
                        <img src="~/logo/pf-footer-logo.png" alt="PF Footer Logo" class="img-fluid footer-logo ms-1">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("MotDePasse");
            var toggleIcon = document.getElementById("toggleIcon");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("bi-eye");
                toggleIcon.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("bi-eye-slash");
                toggleIcon.classList.add("bi-eye");
            }
        }
    </script>
}