@{
    ViewData["Title"] = "Accueil";
}

<div class="hero">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-start">
                <h1>Portail des données SCADA de l'ÉTS</h1>
                <p>Accédez, explorez et partagez les données de vos équipes actives dans le secteur de l’énergie renouvelable</p>
                <div class="d-flex flex-column flex-md-row align-items-center mt-3 gap-3 justify-content-center justify-content-md-start">
                    <a href="https://www.powerfactors.com/" target="_blank">
                        <img src="~/logo/pf-footer-logo.png" alt="Power Factors Logo" class="collaboration-logo" />
                    </a>
                    <a href="https://www.hydroquebec.com/" target="_blank">
                        <img src="~/logo/hq-footer-logo.png" alt="Hydro Quebec Logo" class="collaboration-logo" />
                    </a>
                </div>
                <a href="/signup" class="btn btn-primary mt-4">Se connecter</a>
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center mb-4 mb-md-0">
                <img src="/illustration/hero-animation.svg" alt="Illustration" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
