<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="BlockAppData" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
		</handlers>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="App_Data" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>